{% extends 'base.html' %}
{% load bulma_tags %}
{% block content %}
{% load render_table from django_tables2 %}

    <div class = "container">
    </div>
    <section>
        <br>
        <div class='subtitle'>Task Queue
        </div>
        <button class="button is-primary is-rounded" name="fxq_approve" onclick="btnApprove();">Approve</button>
        <button class="button is-primary is-rounded" name="fxq_cancel" onclick="btnCancel();">Cancel</button>
        <br>
        <br>
        <div class="box">
            <form action="" method="post">
                {% render_table table %}
            </form>
        </div>
    </section>




    <script type="text/javascript">

    $(document).ready(function(){
    })

    function btnApprove(){
        var table = $('.table');
        var tdCheckboxChecked = table.find('tbody input:checkbox:checked')
        var checkedList = new Array();
        $("input[name='rowsel']:checked").each(function(){
            $.ajax({
                    url: "/fxapp/api/approve_task/",
                    data: $(this).val(),
                    success: function( result ) {
                        location.reload();
                    },
                    error:  function( result ) {
                        alert(result.responseText)
                    },
                });
        })
    }


    function btnCancel(){
        var table = $('.table');
        var tdCheckboxChecked = table.find('tbody input:checkbox:checked')
        var checkedList = new Array();

        $("input[name='rowsel']:checked").each(function(){           
            $.ajax({
                    url: "/fxapp/api/cancel_task/",
                    data: $(this).val(),
                    success: function( result ) {
                        location.reload();
                    },
                    error:  function( result ) {
                        alert(result.responseText)
                    },
                });
        })
    }
    
    </script>
{% endblock %}

