{% extends 'base.html' %}
{% load bulma_tags %}


{% block content %}
    <section>
        <br>
        <div class='subtitle'>Submit Doc
        </div>

        <div class='box'>
            <form action="" method="post">
                {{ form.raised_date | bulma }}
                {{ form.raised_by | bulma }}
                {{ form.choice_source | bulma }}
                <button class="button is-primary is-rounded" name="fxsubmit">Submit</button>
            </form>
        </div>
    
    </section>

{% endblock %}

