{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}
    <section>
        <br>
        <div class='subtitle'>Task Detail
        </div>
            <nav class="level">
                <div class="level-item">
                    <div class="box">
                        {{object}}
                    </div>
                    <form action="" method="post">
                        <button class="button is-primary is-rounded" name="fxapprove">Approve</button>
                    </form>
                </div>
            </nav>            
    </section>




    <script type="text/javascript">
    $(document).ready(function(){
    </script>
{% endblock %}

